<%= error_messages_for 'sfile',
:header_message => 'File Error',
:message => "Sorry, but there were some problems with the file." %>

<fieldset><legend>Define new Job <%= h(params[:job][:name])%></legend>

<% form_for :job, :url => {:action => "create_job"} do |form| %>
	<table>
	<% data = false %>
	<% if params[:job][:job_type] == "fas"%>
	<table>
		<tr><th colspan="2">Select fas file(s) (one to many)</th></tr>
		<% @sfiles.each do |sfile| %>
		<tr>
			<% if sfile.filetype == params[:job][:job_type]%>
			<% data = true %>
			<td><%= check_box_tag "files[#{sfile.id}]", 1 %><input name="files[<%= h(sfile.id) %>]" type="hidden" value="0" /></td>
			<td><%= h(sfile.filename) %></td>
			<%end%>		
		<% end %>
			<% if data == false %>
				<td><%= "You still need to upload fas files"%></td>
			<%end%>
		</tr>
	</table>
	
  <% else %>
    <tr><th colspan="2">Select only one xml file</th></tr>
    <% @sfiles.each do |sfile| %>
    <tr>
      <% if sfile.filetype == params[:job][:job_type]%>
      <td><%= check_box_tag "files[#{sfile.id}]", 1 %><input name="files[<%= h(sfile.id) %>]" type="hidden" value="0" /></td>
      <td><%= h(sfile.filename) %></td>
      <%end%>
    </tr>
		<% end %>
			<% if data == false %>
				<td><%= "You still need to upload an xml file"%></td>
			<%end%>
		</tr>
	</table>
  <%end%>

  </table>

  <table>
	<% data = false%>
    <tr><th colspan="2">Select only one csv file</th></tr>
    <% @sfiles.each do |sfile| %>
    <tr>
      <% if sfile.filetype == "csv" %>
		<% data = true %>
      <td><%= check_box_tag "files[#{sfile.id}]", 1 %><input name="files[<%= h(sfile.id) %>]" type="hidden" value="0" /></td>
      <td><%= h(sfile.filename) %></td>
      <%end%>
    </tr>
		<% end %>
			<% if data == false %>
				<td><%= "You still need to upload a csv file"%></td>
			<%end%>
		</tr>
	</table>
	
	<input type="hidden" id="project_id" name="job[project_id]" value="<%= h(params[:job][:project_id]) %>" />
	<input type="hidden" id="job_status" name="job[status]" value="Running" />
	<input type="hidden" id="job_name" name="job[name]" value="<%= h(params[:job][:name]) %>" />
	<input type="hidden" id="job_type" name="job[job_type]" value="<%= h(params[:job][:job_type]) %>" /> 
	<%= submit_tag "Save", :class => "submit" %>
<% end%>
</fieldset>
