<%= error_messages_for "sfile",
:header_message => "File Error",
:message => "Sorry, but there were some problems with the file." %>


<fieldset><legend>Upload a file to project <%= h(@project.name) %></legend>

<% form_for :sfile, :url => {:action => "create_file"}, :html => {:multipart => true} do |form| %>
<table><tr>
	<td>Select file</td>
	<td><%= form.file_field "uploaded_file", :size => 20 %></td>
	<input type="hidden" id="project_id" name="sfile[project_id]" value="<%= h(@project.id) %>" />
	<td><%= submit_tag "Upload", :class => "submit" %></td>
</tr></table>
<% end%>
</fieldset>