<h2>Welcome</h2>
<p>Welcome to Supramap, a web application for integrating genetic, evolutionary, geospatial, and temporal data.</p>

<p>The application is open to everyone and <%= link_to "registration", { :action => "make_a_supramap" }, { :class => "make-a-supramap" } %> is free and easy.</p>
 
<div id="globe-nav">
	<ul>
		<li><%= link_to "make a supramap", { :action => "make_a_supramap" }, { :class => "make-a-supramap" } %></li>
		<li><%= link_to "about", { :action => "about" }, { :class => "about" } %></li>
		<li><%= link_to "tutorials", { :action => "tutorials" }, { :class => "tutorials" } %></li>
		<li><%= link_to "theory", { :action => "theory" }, { :class => "theory" } %></li>
		<li><%= link_to "publications", { :action => "publications" }, { :class => "publications" } %></li>
		<li><%= link_to "contact us", { :action => "contact_us" }, { :class => "contact-us" } %></li>
	</ul>
</div>
