<div id="news"><p><a href="http://bmi.osu.edu/~janies/H1N1">Evolution and spread of H1N1 influenza among hosts and geography</a></p></div>
<h2>Welcome</h2>
<p>Welcome to Supramap, a web application for integrating genetic, evolutionary, geospatial, and temporal data.</p>
<p>Downloading maps requires no registration.</p>

<p>See the link above for H1N1 or the publications page for SARS and Avian Influenza.</p>
<p>Running the application to create your <i>own</i> maps requires free and simple <%= link_to "registration", { :action => "make_a_supramap" }, { :class => "make-a-supramap" } %>.</p>
 
<div id="globe-nav">
	<ul>
		<li><%= link_to "make a supramap", { :action => "make_a_supramap" }, { :class => "make-a-supramap" } %></li>
		<li><%= link_to "about", { :action => "about" }, { :class => "about" } %></li>
		<li><%= link_to "tutorials", { :action => "tutorials" }, { :class => "tutorials" } %></li>
		<li><%= link_to "theory", { :action => "theory" }, { :class => "theory" } %></li>
		<li><%= link_to "publications", { :action => "publications" }, { :class => "publications" } %></li>
		<li><%= link_to "contact us", { :action => "contact_us" }, { :class => "contact-us" } %></li>
	</ul>
</div>
