<% title("Create Job") %>
<%= error_messages_for 'job' %>
<fieldset>
  <legend>job info</legend>
  <% form_for :job, :url => {:action => "create"} do |form| %>
  <input type="hidden" name="job[project_id]" value="<%= h(@project.id) %>" />
  <table class="job">
    <tr>
      <td colspan="2">name:&nbsp;<%= form.text_field :name, :size => 40 %></td>
    </tr>
  </table>
</fieldset>
<fieldset>
    <legend>
        job files</i>&nbsp;
        <font size="1">
            (<a href="#">Which files should I choose?</a>)
        </font>
    </legend>
    <%=show_table_for_files({:files => @sfiles, :file_type => "geo", :title => "Geographical files:"})%>
    <%=show_table_for_files({:files => @sfiles, :file_type => "fasta", :title => "Sequence files:"})%>
    <%=show_table_for_files({:files => @sfiles, :file_type => "pre", :title => "Pre-aligned sequence files:"})%>
    <%=show_table_for_files({:files => @sfiles, :file_type => "cat", :title => "Categorical character files:"})%>    
    <%=show_table_for_files({:files => @sfiles, :file_type => "tree", :title => "Tree files:"})%>
    <%= submit_tag "Run Job", :class => "submit" %>
    <%= submit_tag "Cancel", :name => "cancel", :class => "submit" %></td>
    <% end %>
</fieldset>
