<% require 'set'%>
<% title("Select Job Files") %>
<%= error_messages_for 'sfile',
:header_message => 'File Error',
:message => "Sorry, but there were some problems with the file." %>
<fieldset>
    <legend>
        select files for&nbsp;<i><%= h(params[:job][:name]) %></i>&nbsp;
        <font size="1">
            (<a href="#">Which files should I choose?</a>)
        </font>
    </legend>
    <% form_for :job, :url => {:action => "create"} do |form| %>
    <input type="hidden" name="job[project_id]" value="<%= h(params[:job][:project_id]) %>" />
    <input type="hidden" name="job[name]" value="<%= h(params[:job][:name]) %>" />    
    <%=show_table_for_files({:files => @sfiles, :file_exts => ["csv"], :title => "Geographical files:"})%>
    <%=show_table_for_files({:files => @sfiles, :file_exts => ["fasta","fas", "fna", "fa"], :title => "Sequence files:"})%>
    <%=show_table_for_files({:files => @sfiles, :file_exts => ["tnt"], :title => "Categorical character files:"})%>    
    <%=show_table_for_files({:files => @sfiles, :file_exts => ["tre", "tree"], :title => "Tree files:"})%>
    <%= submit_tag "Run Job", :class => "submit" %>
    <% end %>
</fieldset>